*{
    margin: 0;
    padding: 0;
}
.carousel{
    height: 100%;
    width: 1200px;
    display: flex;
    align-items: center;
}
.carouselItems{
    display: flex;
    flex-direction: column;
    align-items: center;
    cursor: pointer;
    text-transform: uppercase;
    color: white ;
}